body {
    font-family: helvetica, verdana, sans-serif;
    }

a {
    text-decoration: none;
    }

dl {
    font-weight: bold;
    }

h1#title {
    text-align: center;
    }

div#flash-messages {
    }

.info {
    background-color: #54ff95;  /* SeaGreen1 */
    font-size: larger;
    font-style: italic;
    margin: 10px 80px;
    padding: 10px;
    }
